body {
    text-align: center;
    background: linear-gradient(#EC407A 0%, #FFCA28 100%);
    background-repeat: no-repeat;
}

h1 {
    text-shadow: 2px 2px #00E5FF;
    font-size: 20px;
}

#art {
    border-radius: 60%;
    width: 100px;
}

#videos{
    background-color: aquamarine;
}
.menu {
    list-style: none;
    position: fixed;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 10;

}



.links {
    float: left;
    color: fuchsia;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px
}
img {
    width: 100px;
}